WebClient/Service References/ItemService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IItemService_getItem_InputMessage">
    <wsdl:part name="parameters" element="tns:getItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_getItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:getItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_getItem_ItemFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q1:ItemFault" />
  </wsdl:message>
  <wsdl:message name="IItemService_setItem_InputMessage">
    <wsdl:part name="parameters" element="tns:setItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_setItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:setItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_setItem_ItemFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q2:ItemFault" />
  </wsdl:message>
  <wsdl:message name="IItemService_itemsSold_InputMessage">
    <wsdl:part name="parameters" element="tns:itemsSold" />
  </wsdl:message>
  <wsdl:message name="IItemService_itemsSold_OutputMessage">
    <wsdl:part name="parameters" element="tns:itemsSoldResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_itemsSold_ItemFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q3:ItemFault" />
  </wsdl:message>
  <wsdl:message name="IItemService_getItemsCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:getItemsCategory" />
  </wsdl:message>
  <wsdl:message name="IItemService_getItemsCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:getItemsCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_getItemsCategory_ItemFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q4:ItemFault" />
  </wsdl:message>
  <wsdl:message name="IItemService_getItemsCart_InputMessage">
    <wsdl:part name="parameters" element="tns:getItemsCart" />
  </wsdl:message>
  <wsdl:message name="IItemService_getItemsCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:getItemsCartResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_getItemsCart_ItemFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q5:ItemFault" />
  </wsdl:message>
  <wsdl:message name="IItemService_getOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:getOrders" />
  </wsdl:message>
  <wsdl:message name="IItemService_getOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:getOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_getOrders_ItemFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q6:ItemFault" />
  </wsdl:message>
  <wsdl:message name="IItemService_setOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:setOrder" />
  </wsdl:message>
  <wsdl:message name="IItemService_setOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:setOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_setOrder_ItemFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q7:ItemFault" />
  </wsdl:message>
  <wsdl:message name="IItemService_bought_InputMessage">
    <wsdl:part name="parameters" element="tns:bought" />
  </wsdl:message>
  <wsdl:message name="IItemService_bought_OutputMessage">
    <wsdl:part name="parameters" element="tns:boughtResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_bought_ItemFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/ServiceLayer" name="detail" element="q8:ItemFault" />
  </wsdl:message>
  <wsdl:portType name="IItemService">
    <wsdl:operation name="getItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/getItem" message="tns:IItemService_getItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/getItemResponse" message="tns:IItemService_getItem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IItemService/getItemItemFaultFault" name="ItemFaultFault" message="tns:IItemService_getItem_ItemFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="setItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/setItem" message="tns:IItemService_setItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/setItemResponse" message="tns:IItemService_setItem_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IItemService/setItemItemFaultFault" name="ItemFaultFault" message="tns:IItemService_setItem_ItemFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="itemsSold">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/itemsSold" message="tns:IItemService_itemsSold_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/itemsSoldResponse" message="tns:IItemService_itemsSold_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IItemService/itemsSoldItemFaultFault" name="ItemFaultFault" message="tns:IItemService_itemsSold_ItemFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getItemsCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/getItemsCategory" message="tns:IItemService_getItemsCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/getItemsCategoryResponse" message="tns:IItemService_getItemsCategory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IItemService/getItemsCategoryItemFaultFault" name="ItemFaultFault" message="tns:IItemService_getItemsCategory_ItemFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getItemsCart">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/getItemsCart" message="tns:IItemService_getItemsCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/getItemsCartResponse" message="tns:IItemService_getItemsCart_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IItemService/getItemsCartItemFaultFault" name="ItemFaultFault" message="tns:IItemService_getItemsCart_ItemFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/getOrders" message="tns:IItemService_getOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/getOrdersResponse" message="tns:IItemService_getOrders_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IItemService/getOrdersItemFaultFault" name="ItemFaultFault" message="tns:IItemService_getOrders_ItemFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="setOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/setOrder" message="tns:IItemService_setOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/setOrderResponse" message="tns:IItemService_setOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IItemService/setOrderItemFaultFault" name="ItemFaultFault" message="tns:IItemService_setOrder_ItemFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="bought">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/bought" message="tns:IItemService_bought_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/boughtResponse" message="tns:IItemService_bought_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IItemService/boughtItemFaultFault" name="ItemFaultFault" message="tns:IItemService_bought_ItemFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IItemService" type="tns:IItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/getItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ItemFaultFault">
        <soap:fault use="literal" name="ItemFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/setItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ItemFaultFault">
        <soap:fault use="literal" name="ItemFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="itemsSold">
      <soap:operation soapAction="http://tempuri.org/IItemService/itemsSold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ItemFaultFault">
        <soap:fault use="literal" name="ItemFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItemsCategory">
      <soap:operation soapAction="http://tempuri.org/IItemService/getItemsCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ItemFaultFault">
        <soap:fault use="literal" name="ItemFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getItemsCart">
      <soap:operation soapAction="http://tempuri.org/IItemService/getItemsCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ItemFaultFault">
        <soap:fault use="literal" name="ItemFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getOrders">
      <soap:operation soapAction="http://tempuri.org/IItemService/getOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ItemFaultFault">
        <soap:fault use="literal" name="ItemFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setOrder">
      <soap:operation soapAction="http://tempuri.org/IItemService/setOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ItemFaultFault">
        <soap:fault use="literal" name="ItemFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="bought">
      <soap:operation soapAction="http://tempuri.org/IItemService/bought" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ItemFaultFault">
        <soap:fault use="literal" name="ItemFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemService">
    <wsdl:port name="BasicHttpBinding_IItemService" binding="tns:BasicHttpBinding_IItemService">
      <soap:address location="http://localhost:8733/ItemService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>