WebClient/Service References/ItemService/ServiceLayer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="endAuction" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="img" nillable="true" type="q1:ArrayOfbase64Binary" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:int" />
      <xs:element minOccurs="0" name="rowVersion" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="startAuction" type="xs:dateTime" />
      <xs:element minOccurs="0" name="stock" type="xs:int" />
      <xs:element minOccurs="0" name="stockRemained" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ItemFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemFault" nillable="true" type="tns:ItemFault" />
  <xs:complexType name="Person">
    <xs:sequence>
      <xs:element minOccurs="0" name="FaultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="company" nillable="true" type="tns:Company" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="itemsSold" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="zipCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="Company">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="link" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Company" nillable="true" type="tns:Company" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
</xs:schema>